/* 
====== 
Fonts
======
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap');
/* 
====== 
Variables 
======
*/
:root {
  --mainBackground: #f8f8f8;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --lightGrey: rgb(113, 113, 113);
  --navBackground: #e7dfc6;
  --mainDarkColor: #504746;
  --mainLightColor: #d7f2ba;
  --mainGreen: #0c7c59;
  --mainBlue: #58a4b0;
  --mainRed: #FF5A5F;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}


/* 
====== 
Global Styles
======
*/

* {
  margin: 0;
  padding: 0;
}
body {
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
}

h2 {
  color: var(--mainGreen);
}
/* 
====== 
Navbar
======
*/

.nav-logo {
  display: flex;
  align-items: center;
  font-size: .85rem;
  padding-right: 10px;
}
.logo {
  height: 3rem;
  margin: 0 0.5rem 0 0;
  width: auto;
}
.navbar {
  background-color: var(--navBackground);
  width: 100%;
  height: 3rem;
  display: flex;
  align-items:center;
  border-bottom: 1px solid var(--lightGrey);
  font-family: 'Raleway', sans-serif;
}

.nav-center{
  display: flex;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}

.nav-links {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-links a {
  display: inline-block;
  color: var(--mainBlack);
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: .85rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

.nav-links a:hover {
  color: var(--offWhite);
  background: var(--mainDarkColor);
  
}


/* 
====== 
Book List
======
*/
.book-collection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 50px 50px 15px 50px;
}
.book-list{
  display: flex;
  align-items: center;
  margin: 0px 50px 0 50px;
  
  border-top: 1px solid var(--lightGrey);
  font-size: 15px;
}
.book-list:hover {
  background: #eee;
}
.book-list ul {
  list-style-type: none;
  width: 100%;
}

.book-title {
  font-size: 18px;
}

.book-title:hover {
  text-decoration: underline;
}
 
 .book-list li {
  padding-top: -20px;
  overflow: auto;
}

.list-buttons {
  padding-right: 20px;
}
 
/* 
====== 
Book List
======
*/
.book-details {
  margin: 50px 50px 15px 50px;
}
.edit-details{
  margin-bottom: 50px;
}
/* 
====== 
Buttons
======
*/

.addBookButton {
  display: flex;
  align-items: center;
  width: 77px;
  height: 25px;
  color: var(--offWhite);
  background-color: var(--mainBlue);
  border: solid 1px var(--lightGrey);
  border-radius: 4px;
}

.addBookButton:hover{
  background-color: #488e99;
  
}

.plus {
  font-size: 22px;
}

.deleteButton {
  width: 25px;
  padding: 2px;
  background:var(--mainRed);
  border: solid 1px var(--lightGrey);
  border-radius: 4px;
  cursor: pointer;
}
.deleteButton:hover {
  background: #FF333A;
}
.deleteImg {
  width: 18px;
}

.delete-confirm{
  background:var(--mainRed);
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  border: solid 1px var(--lightGrey);
  border-radius: 2px;
  color: var(--offWhite);
}

.delete-confirm:hover {
  background: #FF333A;
}

.edit-button,
.back-button{
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
  font-family: 'Raleway', sans-serif;
  background:var(--navBackground);
  cursor: pointer;
  border: solid 1px var(--lightGrey);
  border-radius: 2px;
  color: #222;
}

.edit-button,
.back-button:hover{
  background: #DBCEA9;
  cursor: pointer;
}

/* 
====== 
Delete Modal
======
*/

.delete-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.modal-content {
  width: 50%;
  height: 200px;
  background: #e9e6dc;
  margin: auto;
  text-align: center;
  border: solid 1px var(--lightGrey);
  border-radius: 2px;
  box-shadow: var(--lightShadow);
}

.modal-text {
  margin-top: 50px;
}

/* 
====== 
About Modal
======
*/

.about-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content {
  width: 75%;
  height: 350px;
  background: #e9e6dc;
  margin: auto;
  text-align: center;
  border: solid 1px var(--lightGrey);
  border-radius: 2px;
  box-shadow: var(--lightShadow);
}

.about-text {
  margin: 40px;
}

